body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('kepek/fooldal_hatter.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
